/* Body styling */

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
}


/* Heading styles */

h1 {
    font-size: 36px;
    font-family: 'Georgia', serif;
    font-style: italic;
    color: darkblue;
    text-align: center;
}


/* Paragraph styles */

p {
    font-size: 18px;
    font-family: 'Verdana', sans-serif;
    color: darkred;
    text-align: justify;
    margin: 20px;
}


/* Different text styles */

.text-bold {
    font-weight: bold;
    color: green;
}

.text-underline {
    text-decoration: underline;
    color: purple;
}

.text-uppercase {
    text-transform: uppercase;
    color: orange;
    text-align: right;
}

.text-center {
    text-align: center;
    font-style: oblique;
    color: navy;
}